.Footer_Position{
    position: absolute;
    width: 100%;
    border: 100%;
    bottom: 0;
}
.Footer_Padding{
    padding: 0 50px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin:0;
}
.Footer_brand{
    margin: 2.5px 0 ;
}
.Footer_icons{
    margin: 2.5px 0 ;
}
@media screen and (max-width: 480px) {
    .Footer_brand{
        margin: 2.5px auto ;
    }
    .Footer_icons{
        margin: 2.5px auto ;
    }
}